# Environments
.venv/
.env

# JetBrains
.idea/

# Poetry
poetry.lock

# Python
__pycache__/
*.py[cod]
*$py.class

# Ruff
.ruff_cache/

# Visual Studio Code
.vscode/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# sorting-hat
stubs/
